[DEFAULT]
debug = False
log_dir = /var/log/kolla/senlin
transport_url = rabbit://{{ rabbitmq_user }}:{{ rabbitmq_password }}@{{ rabbitmq_vip }}:5672

{% if service_name == 'senlin-api' %}
[senlin_api]
bind_host = {{ host_ip }}
bind_port = 8778
workers = {{ senlin_workers }}
{% endif %}

[authentication]
auth_url = http://{{ vip_internal }}:35357
service_username = senlin
service_password = {{ senlin_keystone_password }}
service_project_name = service
service_user_domain = default
service_project_domain = default

{% if service_name == 'senlin-conductor' %}
[conductor]
workers = {{ senlin_workers }}
{% endif %}

[database]
connection = mysql+pymysql://senlin:{{ senlin_database_password }}@{{ database_address }}:3306/senlin
connection_recycle_time = 10
max_pool_size = 1
max_retries = -1

{% if service_name == 'senlin-engine' %}
[engine]
workers = {{ senlin_workers }}
{% endif %}

{% if service_name == 'senlin-health-manager' %}
[health_manager]
workers = {{ senlin_workers }}
{% endif %}

[keystone_authtoken]
www_authenticate_uri = http://{{ vip_internal }}:5000
auth_url = http://{{ vip_internal }}:35357
auth_type = password
project_domain_id = default
user_domain_id = default
project_name = service
username = senlin
password = {{ senlin_keystone_password }}
service_token_roles_required = False
cafile = /etc/ssl/certs/ca-certificates.crt
region_name = {{ region }}
memcache_security_strategy = ENCRYPT
memcache_secret_key = {{ memcache_secret_key }}
memcached_servers = {{ ctl1 }}:11211,{{ ctl2 }}:11211,{{ ctl3 }}:11211

[oslo_messaging_notifications]
transport_url = rabbit://{{ rabbitmq_user }}:{{ rabbitmq_password }}@{{ rabbitmq_vip }}:5672
driver = noop