{
    "command": "senlin-health-manager --config-file /etc/senlin/senlin.conf",
    "config_files": [
        {
            "source": "/var/lib/kolla/config_files/senlin.conf",
            "dest": "/etc/senlin/senlin.conf",
            "owner": "senlin",
            "perm": "0600"
        }    ],
    "permissions": [
        {
            "path": "/var/log/kolla/senlin",
            "owner": "senlin:senlin",
            "recurse": true
        }
    ]
}